{
    "extends": [
        "eslint:recommended",
        "airbnb",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "arrow-body-style": [
            "off"
        ],
        "indent": [
            "error",
            4
        ],
        "react/jsx-indent": [
            "error",
            4
        ],
        "react/jsx-indent-props": [
            "error",
            4
        ],
        "react/jsx-one-expression-per-line": [
            "error",
            {
                "allow": "single-child"
            }
        ],
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [".jsx", ".tsx"]
            }
        ],
        "react/prefer-stateless-function": "off",
        "react/prop-types": "off",
        "@typescript-eslint/member-delimiter-style": [
            "error",
            {
                "multiline": {
                    "delimiter": "comma",
                    "requireLast": true
                },
                "singleline": {
                    "delimiter": "comma",
                    "requireLast": false
                }
            }
        ],
        "import/extensions": [
            ".js",
            ".jsx",
            ".json",
            ".ts",
            ".tsx"
        ]
    },
    "overrides": [
        {
            "files": [
                "**/*.js",
                ".storybook/*.js"
            ],
            "parser": "babel-eslint",
            "rules": {
                "@typescript-eslint/explicit-function-return-type": 0,
                "@typescript-eslint/no-var-requires": 0
            }
        },
        {
            "files": [
                "**/*.test.[jt]s",
                "**/*.test.[jt]sx"
            ],
            "env": {
                "jest": true
            }
        },
        {
            "files": [
                ".storybook/*.js",
                "**/*.test.[jt]s",
                "**/*.test.[jt]sx",
                "**/*.stories.[jt]s",
                "**/*.stories.[jt]sx"
            ],
            "rules": {
                "import/no-extraneous-dependencies": [
                    "error",
                    {
                        "devDependencies": true,
                        "optionalDependencies": false
                    }
                ]
            }
        }
    ]
}
