.inlineCode {
    color: dimgray;
    border-radius: 3px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    background-color: Azure;
    margin: 1px 3px;
    padding: 1px 2px;

    white-space: nowrap;
    font-size: 0.9em;
    font-family: "Consolas", "Courier New", "Courier", "Monaco", "monospace";
}
