:root {
    --fadeOutInitialOpaticy: 1;
    --fadeOutFinalOpaticy: 0.2;
    --defaultItemPadding: 3px;
    --indentItemPadding: 7%;
}

@keyframes tocItemFadeOut {
    0% {
        opacity: var(--fadeOutInitialOpaticy);
    }
    20% {
        opacity: var(--fadeOutInitialOpaticy); /* 20% (1s) delay */
    }
    100% {
        opacity: var(--fadeOutFinalOpaticy);
    }
}

.outer {
    padding: 0 5px;
    opacity: var(--fadeOutFinalOpaticy);
    animation-name: tocItemFadeOut;
    animation-duration: 5s;

    &:hover {
        opacity: var(--fadeOutInitialOpaticy);
        animation-name: none;

        .active {
            background-color: whitesmoke;
        }
    }
}

.item {
    list-style-type: "- ";
    list-style-position: inside;
    border-radius: 2px;
    font-family: "Courier New";
    font-size: 12px;
    padding: 1px var(--defaultItemPadding);
    margin: 1px 0;
}

.active {
    font-weight: bold;
    list-style-type: "+ ";
}

.depthOne {
    padding-left: calc(var(--indentItemPadding) * 0 + var(--defaultItemPadding));
}
.depthTwo {
    padding-left: calc(var(--indentItemPadding) * 1 + var(--defaultItemPadding));
}
.depthThree {
    padding-left: calc(var(--indentItemPadding) * 2 + var(--defaultItemPadding));
}
.depthFour {
    padding-left: calc(var(--indentItemPadding) * 3 + var(--defaultItemPadding));
}
.depthFive {
    padding-left: calc(var(--indentItemPadding) * 4 + var(--defaultItemPadding));
}
.depthSix {
    padding-left: calc(var(--indentItemPadding) * 5 + var(--defaultItemPadding));
}

.link {
    color: gray;

    &:hover {
        color: paleturquoise;
    }

    &:active {
        color: lightblue;
    }
}
